*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.outer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    /* position: relative; */
    border-radius: 50px;
    box-shadow: 0px 0px 10px white;
    transition: all 2s;
}
.inner:hover{
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 20px white;
    transition: all 2s;
}
h1{
    /* position: absolute; */
    color: white;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
}
.form{
    width: 90%;
    height: 20px;
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px white;
    transition: all 2s;
    color: white;
    display: flex;
    justify-content: center;
}
.form:hover{
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px whitesmoke;
    transition: all 2s;
}
label{
    display: flex;
    justify-content: center;
    color: white;
    transition: all 1.5s;
    cursor: pointer;
}
label:hover{
    box-shadow: 0px 0px 5px white;
    color: black;
    transition: all 2s;
}
